<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

   <property name="laser_offset_x" value="0.09" />
   <property name="laser_offset_y" value="0.0" />
   <property name="laser_offset_z" value="0.1715" />
   
   <property name="torso_offset_x" value="-0.135" />
   <property name="torso_offset_y" value="0.0" />
   <property name="torso_offset_z" value="0.197" />
   
   <property name="head_offset_x" value="-0.022" />
   <property name="head_offset_y" value="0.0036" />
   <property name="head_offset_z" value="0.78" />
   
   <xacro:include filename="$(find piko_description)/urdf/materials.urdf.xacro" />
   <xacro:include filename="$(find piko_description)/urdf/turtlebot_library.urdf.xacro" />
   <xacro:include filename="$(find piko_description)/urdf/pan_tilt_head_xtion.urdf.xacro" />
   <xacro:include filename="$(find piko_description)/urdf/torso.urdf.xacro" />

   <kobuki/>
   <stack_hexagons         parent="base_link"/>
   <sensor_laser           parent="base_link">
      <origin xyz="${laser_offset_x} ${laser_offset_y} ${laser_offset_z}" rpy="3.14 0 0 " />
   </sensor_laser>
  
   <!-- Attach the torso -->
   <torso name="torso" parent="base" color="Grey">
     <origin xyz="${torso_offset_x} ${torso_offset_y} ${torso_offset_z}" rpy="0 0 0" />
   </torso>
    
   <!-- Attach the pan and tilt head -->
   <head name="head_base" parent="torso" color="White">
      <origin xyz="${head_offset_x} ${head_offset_y} ${head_offset_z}" rpy="0 0 ${PI}" />
   </head>
   
   <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/</robotNamespace>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
     </plugin>
   </gazebo>
   
</robot>
