<launch>

  <arg name="kobuki" default="true" />

  <param name="use_sim_time" value="false" />

  <!-- Set the name of the map yaml file: can be overridden on the command line. -->
  <arg name="map" default="kobuki_test.yaml" />
  
  <!-- Launch move_base and load all navigation parameters -->
  <include file="$(find piko_nav)/launch/move_base_no_layers.launch">
     <arg name="kobuki" value="$(arg kobuki)" />
  </include>
    
  <!-- Run the map server with the desired map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find piko_nav)/maps/$(arg map)" />
  
  <!-- Launch move_base and load all navigation parameters -->
  <include file="$(find piko_nav)/launch/amcl.launch" />

</launch>
